<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>文章</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- import semantic -->
    <link rel="stylesheet" href="../../static/css/selfDefined.css">
    <!-- import typo.css-->
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/lib/prism_code_highlight/prism-okaidia.css">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css">
</head>
<body>
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui teal header item">MyBlog</h1>
            <a href="#" class="item" th:href="@{/}"><i class="home icon"></i> 首页</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/types/-1}"><i class="th list icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/tags/-1}"><i class="tag icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{//archives/-1}"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/aboutme}"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon input">
                    <input type="text" placeholder="搜索">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black button m-position-topright m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message">
        <div class="ui container m-padded-tb-massive">
            <h2>500</h2>
            <p>服务器发生错误啦！</p>
        </div>
    </div>
</div>

<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="five wide column">
                <div class="ui inverted link list">
                    <h3 class="inverted header m-opacity-medium">最新发布</h3>
                    <a href="#" class="item">JS学习心得1</a>
                    <a href="#" class="item">JS学习心得2</a>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui inverted link list">
                    <h3 class="inverted header m-opacity-medium">联系作者</h3>
                    <a href="#" class="item">Email: lipingrui2001@gmail.com</a>
                    <a href="#" class="item">QQ: 546238539</a>
                </div>
            </div>
            <div class="six wide column">
                <div class="ui inverted link list">
                    <p class="m-text-spaced m-opacity-mini">小白的一点小小心得，希望能尽快成长起来哇</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>